
#head_menu {
  height: 32px;
  background: #202020;
  background: linear-gradient(179deg, rgba(253, 29, 29, 1) 20%, rgba(32, 32, 32, 1) 51%);
  position: absolute;
  top: 0;
  width: 100vw;
  -webkit-app-region: drag;
}

#actions_container {
  display: flex;
  align-items: center;
  justify-items: start
}

#back_btn,
#forward_btn,
#reload_btn {
  height: 35px;
  color: white;
  width: 35px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
  -webkit-app-region: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
  filter: blur(1px);
  backdrop-filter: brightness(1);
  background: transparent;
  border: none;
}

#back_btn:hover{
 filter: drop-shadow(2px 4px 6px black);
 filter: blur(0px);
 font-size: 25px;
 margin-left: 5px;
}

#forward_btn:hover{
  filter: drop-shadow(2px 4px 6px black);
  filter: blur(0px);
  font-size: 25px;
  margin-left: 15px;
}

#reload_btn:hover{
 filter: drop-shadow(2px 4px 6px black);
 filter: blur(0px);
 font-size: 25px;
}

#reload_btn i{
  transition: all 1s ease-out !important;
}

#reload_btn:hover i{
  transform: rotate(40deg) !important;
}

#reload_btn.reload_clicked{
 font-size: 22px !important;
 backdrop-filter: brightness(0.5) !important;
}

#reload_btn.reload_clicked i{
  transform: rotate(720deg) !important;
}

#back_btn.back_clicked,
#forward_btn.forward_clicked{
 font-size: 23px !important;
 backdrop-filter: brightness(0.5) !important;
}
